In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
file_dir = '/Users/pathanafin/Desktop/Class_Folder/Week_8/Movies-ETL/Movies-ETL/'

In [3]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [5]:
# 1 Add the function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)
def read_files():
#Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
    kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
    ratings = pd.read_csv(f'{file_dir}/ratings.csv')
#Open the read the Wikipedia data JSON file.
    with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    # 4. Read in the raw wiki movie data as a Pandas DataFrame.
        wiki_movies_raw = json.load(file)
        wiki_movies_df = pd.DataFrame(wiki_movies_raw)
    # 5. Return the three DataFrames
    return wiki_movies_df, kaggle_metadata, ratings

# 6 Create the path to your file directory and variables for the three files. 
file_dir = '/Users/pathanafin/Desktop/Class_Folder/Week_8/Movies-ETL/Movies-ETL/'
# Wikipedia data
wiki_file = f'{file_dir}/wikipedia.movies.json'
# Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
# MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'

# 7. Set the three variables in Step 6 equal to the function created in Step 1.
wiki_file, kaggle_metadata, ratings_file = read_files()

In [6]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]

In [7]:
#  Add the clean movie function that takes in the argument, "movie".
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [8]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [9]:
# Write a try-except block to catch errors while extracting the IMDb ID using a regular expression string and
#  dropping any imdb_id duplicates. If there is an error, capture and print the exception.
try:
    print(clean_movies[0])    
except:
    print("Duplicate")

{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane', 'year': 1990, 'imdb_link': 'https://www.imdb.com/title/tt0098987/', 'title': 'The Adventures of Ford Fairlane', 'Based on': ['Characters', 'by Rex Weiner'], 'Starring': ['Andrew Dice Clay', 'Wayne Newton', 'Priscilla Presley', 'Lauren Holly', 'Morris Day', 'Robert Englund', "Ed O'Neill"], 'Narrated by': 'Andrew "Dice" Clay', 'Cinematography': 'Oliver Wood', 'Release date': ['July 11, 1990', '(', '1990-07-11', ')'], 'Running time': '102 minutes', 'Country': 'United States', 'Language': 'English', 'Budget': '$20 million', 'Box office': '$21.4 million', 'Director': 'Renny Harlin', 'Distributor': '20th Century Fox', 'Editor(s)': 'Michael Tronick', 'Composer(s)': ['Cliff Eidelman', 'Yello'], 'Producer(s)': ['Steve Perry', 'Joel Silver'], 'Production company(s)': 'Silver Pictures', 'Writer(s)': ['David Arnott', 'James Cappe']}

In [10]:
 #  Write a list comprehension to keep the columns that don't have null values from the wiki_movies_df DataFrame.
[[column,wiki_file[column].isnull().sum()] for column in wiki_file.columns]

[['url', 158],
 ['year', 158],
 ['imdb_link', 211],
 ['title', 177],
 ['Directed by', 208],
 ['Produced by', 571],
 ['Screenplay by', 4987],
 ['Story by', 6306],
 ['Based on', 5112],
 ['Starring', 391],
 ['Narrated by', 7026],
 ['Music by', 808],
 ['Cinematography', 911],
 ['Edited by', 913],
 ['Productioncompany ', 2771],
 ['Distributed by', 712],
 ['Release date', 397],
 ['Running time', 342],
 ['Country', 585],
 ['Language', 438],
 ['Budget', 2536],
 ['Box office', 1781],
 ['Written by', 2714],
 ['Genre', 7182],
 ['Theme music composer', 7241],
 ['Country of origin', 7153],
 ['Original language(s)', 7147],
 ['Producer(s)', 7150],
 ['Editor(s)', 7160],
 ['Production company(s)', 7175],
 ['Original network', 7180],
 ['Original release', 7146],
 ['Productioncompanies ', 6582],
 ['Executive producer(s)', 7210],
 ['Production location(s)', 7261],
 ['Distributor', 7171],
 ['Picture format', 7242],
 ['Audio format', 7247],
 ['Voices of', 7308],
 ['Followed by', 7297],
 ['Composer(s)', 7300],
 ['Created by', 7297],
 ['Also known as', 7309],
 ['Opening theme', 7309],
 ['No. of episodes', 7305],
 ['Preceded by', 7295],
 ['Author', 7299],
 ['Publisher', 7299],
 ['Publication date', 7300],
 ['Media type', 7302],
 ['Pages', 7304],
 ['ISBN', 7306],
 ['OCLC', 7305],
 ['LC Class', 7306],
 ['Cover artist', 7308],
 ['Series', 7308],
 ['Set in', 7309],
 ['Adaptation by', 7309],
 ['Suggested by', 7310],
 ['Biographical data', 7310],
 ['Born', 7303],
 ['Died', 7310],
 ['Resting place', 7310],
 ['Occupation', 7303],
 ['Years active', 7305],
 ['Spouse(s)', 7310],
 ['Children', 7310],
 ['Parent(s)', 7309],
 ['Genres', 7310],
 ['Instruments', 7310],
 ['Labels', 7310],
 ['Website', 7304],
 ['Traditional', 7306],
 ['Mandarin', 7307],
 ['Type', 7305],
 ['Industry', 7306],
 ['Fate', 7310],
 ['Founded', 7305],
 ['Founder', 7308],
 ['Headquarters', 7305],
 ['Parent', 7309],
 ['Released', 7307],
 ['Recorded', 7308],
 ['Venue', 7310],
 ['Length', 7308],
 ['Label', 7307],
 ['Director', 7309],
 ['Producer', 7308],
 ['Area', 7310],
 ['Coordinates', 7310],
 ['Status', 7310],
 ['Opening date', 7310],
 ['Closing date', 7310],
 ['Replaced', 7310],
 ['Replaced by', 7310],
 ['Name', 7310],
 ['Attraction type', 7310],
 ['Music', 7310],
 ['Duration', 7310],
 ['Simplified Chinese', 7310],
 ['Traditional Chinese', 7310],
 ['Hanyu Pinyin', 7310],
 ['Literal meaning', 7310],
 ['Transcriptions', 7310],
 ['Bopomofo', 7310],
 ['Gwoyeu Romatzyh', 7310],
 ['Wade–Giles', 7310],
 ['IPA', 7310],
 ['Yale Romanization', 7310],
 ['Jyutping', 7310],
 ['Hokkien POJ', 7310],
 ['Animation by', 7309],
 ['Color process', 7310],
 ['Engine(s)', 7310],
 ['Genre(s)', 7309],
 ['Actor control', 7310],
 ['Production company', 7310],
 ['Release(s)', 7310],
 ['Format(s)', 7310],
 ['Simplified', 7307],
 ['Characters', 7309],
 ['Date premiered', 7308],
 ['Place premiered', 7308],
 ['Setting', 7309],
 ['Original language', 7309],
 ['Subject', 7309],
 ['Published', 7310],
 ['Dewey Decimal', 7307],
 ['Text', 7309],
 ['Illustrator', 7308],
 ['Original title', 7309],
 ['Published in English', 7310],
 ['French', 7310],
 ['Developed by', 7310],
 ['Ending theme', 7310],
 ['No. of seasons', 7310],
 ['Nationality', 7308],
 ['Portrayed by', 7310],
 ['Alias', 7310],
 ['Species', 7310],
 ['Gender', 7310],
 ['Family', 7310],
 ['Alma mater', 7309],
 ['Camera setup', 7310],
 ['Novel(s)', 7310],
 ['Comics', 7310],
 ['Film(s)', 7309],
 ['Screen story by', 7310],
 ['Hangul', 7309],
 ['Revised Romanization', 7309],
 ['McCune–Reischauer', 7309],
 ['Developer(s)', 7310],
 ['Publisher(s)', 7310],
 ['Designer(s)', 7310],
 ['Programmer(s)', 7310],
 ['Artist(s)', 7310],
 ['Writer(s)', 7310],
 ['Engine', 7310],
 ['Platform(s)', 7310],
 ['Release', 7310],
 ['Mode(s)', 7310],
 ['Original work', 7310],
 ['Television series', 7310],
 ['Japanese', 7307],
 ['Hepburn', 7307],
 ['Literally', 7308],
 ['Cantonese', 7310],
 ['Full name', 7310],
 ['Height', 7309],
 ['Seasons', 7310],
 ['Chinese', 7310],
 ['Other names', 7310],
 ['Relatives', 7310],
 ['Yiddish', 7310],
 ['Formerly', 7307],
 ['Key people', 7307],
 ['Total assets', 7310],
 ['Owner', 7307],
 ['Number of employees', 7309],
 ['Divisions', 7307],
 ['Subsidiaries', 7307],
 ['Arabic', 7309],
 ['Romanized', 7309],
 ['Predecessor', 7308],
 ['Founders', 7308],
 ['Area served', 7308],
 ['Products', 7308],
 ['Services', 7309],
 ['Russian', 7310],
 ['Hebrew', 7310],
 ['Revenue', 7310],
 ['Operating income', 7310],
 ['Polish', 7310]]

In [11]:
  # Create a variable that will hold the non-null values from the “Box office” column.
box_office = wiki_file['Box office'].dropna()

In [12]:
 # Convert the box office data created in Step 8 to string values using the lambda and join functions.
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [13]:
 # Write a regular expression to match the six elements of "form_one" of the box office data.
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

3926

In [14]:
 # Write a regular expression to match the three elements of "form_two" of the box office data.
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

1581

In [15]:
# Add the parse_dollars function.
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [16]:
# Clean the box office column in the wiki_movies_df DataFrame.
wiki_file['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [17]:
budget = wiki_file['Budget'].dropna()

In [18]:
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [19]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [20]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
budget[~matches_form_one & ~matches_form_two]

139                         Unknown
210     60 million Norwegian Kroner
490                         Unknown
638     60 million Norwegian Kroner
1011            $34 [3] [4] million
1171               $120 [4] million
1276                        Unknown
1331                            HBO
1429                     £6,000,000
1455                     13 million
1541                   £2.8 million
1817                   CAD2,000,000
2002     PHP 85 million (estimated)
2038                    102,888,900
2043                   3,500,000 DM
2064                     ₤2,300,874
2390                     $14 milion
2563                     ₤6,350,000
3278                   € 40 million
3495               $150 [6] million
3553                        $218.32
3947                   £4.2 million
4053                            N/A
4108                    760,000 USD
4648                       19 crore
4827                    £17 million
5224              $$200 [4] million
5247           $155 [2] [3] million
5616                $40 [4] million
5621                            N/A
5645                     £4 million
5870                    €14 million
5886                   $ dead link]
6603               £ 12 million [3]
6813                     £3 million
7047                  £12.9 million
7070                      3.5 crore
7124                        919,000
7305                   €4.3 million
Name: Budget, dtype: object

In [21]:
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

<ipython-input-21-a146e32379e0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  budget = budget.str.replace(r'\[\d+\]\s*', '')

139                         Unknown
210     60 million Norwegian Kroner
490                         Unknown
638     60 million Norwegian Kroner
1011                    $34 million
1171                   $120 million
1276                        Unknown
1331                            HBO
1429                     £6,000,000
1455                     13 million
1541                   £2.8 million
1817                   CAD2,000,000
2002     PHP 85 million (estimated)
2038                    102,888,900
2043                   3,500,000 DM
2064                     ₤2,300,874
2390                     $14 milion
2563                     ₤6,350,000
3278                   € 40 million
3495                   $150 million
3553                        $218.32
3947                   £4.2 million
4053                            N/A
4108                    760,000 USD
4648                       19 crore
4827                    £17 million
5224                  $$200 million
5247                   $155 million
5616                    $40 million
5621                            N/A
5645                     £4 million
5870                    €14 million
5886                   $ dead link]
6603                  £ 12 million
6813                     £3 million
7047                  £12.9 million
7070                      3.5 crore
7124                        919,000
7305                   €4.3 million
Name: Budget, dtype: object

In [22]:
wiki_file['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [23]:
wiki_file.drop('budget', axis=1, inplace=True)

In [24]:
# Clean the release date column in the wiki_movies_df DataFrame.
release_date = wiki_file['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)
wiki_file['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [25]:
# Clean the running time column in the wiki_movies_df DataFrame.
#def running_time(movie):
running_time = wiki_file['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)
wiki_file['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
wiki_file.drop('Running time', axis=1, inplace=True)

In [26]:
wiki_file.dtypes

url                         object
year                       float64
imdb_link                   object
title                       object
Directed by                 object
                         ...
Operating income            object
Polish                      object
box_office                 float64
release_date        datetime64[ns]
running_time               float64
Length: 195, dtype: object

In [27]:
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [28]:
kaggle_metadata.dtypes

belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [29]:
# 2. Clean the Kaggle metadata.
kaggle_metadata['video'] == 'True'
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [30]:
wiki_file['imdb_id'] = wiki_file['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_file))
wiki_file.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_file))
wiki_file.head()

7311
7056

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Services,Russian,Hebrew,Revenue,Operating income,Polish,box_office,release_date,running_time,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,21400000.0,1990-07-11,102.0,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,2700000.0,1990-05-17,114.0,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,57718089.0,1990-08-10,113.0,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,7331647.0,1990-12-25,106.0,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,6939946.0,1990-12-19,95.0,tt0099018

In [31]:
# 3. Merged the two DataFrames into the movies DataFrame.
movies_df = pd.merge(wiki_file, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [32]:
movies_df[['title_wiki','title_kaggle']]

                           title_wiki                     title_kaggle
0     The Adventures of Ford Fairlane  The Adventures of Ford Fairlane
1                After Dark, My Sweet             After Dark, My Sweet
2                         Air America                      Air America
3                               Alice                            Alice
4                     Almost an Angel                  Almost an Angel
...                               ...                              ...
6072                A Fantastic Woman                A Fantastic Woman
6073                       Permission                       Permission
6074                         Loveless                         Loveless
6075                           Gemini                           Gemini
6076  How to Talk to Girls at Parties  How to Talk to Girls at Parties

[6077 rows x 2 columns]

In [33]:
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

,title_wiki,title_kaggle
27,China Cry,China Cry: A True Story
36,Daddy's Dyin' ...Who's Got the Will?,Daddy's Dyin'... Who's Got the Will?
38,NaN,Delusion
39,NaN,Show
40,NaN,How I Unleashed World War II Part III: Among F...
...,...,...
5981,Chips,CHiPS
5996,Spark,Spark: A Space Tail
6019,Pirates of the Caribbean:Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales
6048,Valerian and the Cityof a Thousand Planets,Valerian and the City of a Thousand Planets
6053,An Inconvenient Sequel:Truth to Power,An Inconvenient Sequel: Truth to Power

In [34]:
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

Empty DataFrame
Columns: [url, year, imdb_link, title_wiki, Directed by, Produced by, Screenplay by, Story by, Based on, Starring, Narrated by, Music by, Cinematography, Edited by, Productioncompany , Distributed by, Release date, Country, Language, Budget, Box office, Written by, Genre, Theme music composer, Country of origin, Original language(s), Producer(s), Editor(s), Production company(s), Original network, Original release, Productioncompanies , Executive producer(s), Production location(s), Distributor, Picture format, Audio format, Voices of, Followed by, Composer(s), Created by, Also known as, Opening theme, No. of episodes, Preceded by, Author, Publisher, Publication date, Media type, Pages, ISBN, OCLC, LC Class, Cover artist, Series, Set in, Adaptation by, Suggested by, Biographical data, Born, Died, Resting place, Occupation, Years active, Spouse(s), Children, Parent(s), Genres, Instruments, Labels, Website, Traditional, Mandarin, Type, Industry, Fate, Founded, Founder, Headquarters, Parent, Released, Recorded, Venue, Length, Label, Director, Producer, Area, Coordinates, Status, Opening date, Closing date, Replaced, Replaced by, Name, Attraction type, Music, Duration, Simplified Chinese, Traditional Chinese, ...]
Index: []

[0 rows x 218 columns]

In [35]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

Int64Index([3631], dtype='int64')

In [36]:
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [37]:
movies_df[movies_df['release_date_wiki'].isnull()]

,url,year,imdb_link,title_wiki,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,release_date_kaggle,revenue,runtime,spoken_languages,status,tagline,title_kaggle,video,vote_average,vote_count
22,https://en.wikipedia.org/wiki/Camp_Cucamonga,1990.0,https://www.imdb.com/title/tt0099212/,Camp Cucamonga,Roger Duchowny,NaN,NaN,NaN,NaN,"[John Ratzenberger, Brian Robbins, Jennifer An...",...,1990-09-23,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Camp Cucamonga,False,4.7,9.0
24,https://en.wikipedia.org/wiki/Cartoon_All-Star...,1990.0,https://www.imdb.com/title/tt0154129/,Cartoon All-Stars to the Rescue,"[Milton Gray, Marsh Lamore, Bob Shellhorn, Mik...",NaN,NaN,NaN,NaN,NaN,...,1990-04-21,0.0,26.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Drugs don't stand a chance against these guys!,Cartoon All-Stars to the Rescue,False,6.0,5.0
28,https://en.wikipedia.org/wiki/The_China_Lake_M...,1990.0,https://www.imdb.com/title/tt0099259/,The China Lake Murders,Alan Metzger,NaN,NaN,NaN,NaN,"[Isaac Allan, Tom Skerritt, Michael Parks]",...,1990-01-31,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Every year, Officer Donnelly goes to China Lak...",The China Lake Murders,False,0.0,0.0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1991-06-07,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She only wanted love. But money's better than ...,Delusion,False,4.8,3.0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2003-03-19,0.0,NaN,[],Released,NaN,Show,False,6.3,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,https://en.wikipedia.org/wiki/Return_to_Sender...,2004.0,https://www.imdb.com/title/tt0396190/,Return to Sender,Bille August,NaN,NaN,NaN,NaN,"[Aidan Quinn, Connie Nielsen, Mark Holton]",...,2004-09-17,0.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"How can you save someone, who won't save herself?",Return to Sender,False,5.9,13.0
3414,https://en.wikipedia.org/wiki/No_Direction_Home,2005.0,https://www.imdb.com/title/tt0367555/,No Direction Home,Martin Scorsese,NaN,NaN,NaN,NaN,Bob Dylan,...,2005-07-21,0.0,208.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Bob Dylan. Songwriter. Rocker. Rebel. Legend.,No Direction Home: Bob Dylan,False,7.5,33.0
3675,https://en.wikipedia.org/wiki/Live_Free_or_Die...,2006.0,https://www.imdb.com/title/tt0432318/,Live Free or Die,"[Gregg Kavet, Andy Robin]",NaN,NaN,NaN,NaN,"[Aaron Stanford, Paul Schneider, Ebon Moss-Bac...",...,2006-03-11,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Live Free or Die,False,5.5,8.0
4992,https://en.wikipedia.org/wiki/For_the_Love_of_...,2012.0,https://www.imdb.com/title/tt1730294/,For the Love of Money,Ellie Kanner-Zuckerman,"[Izek Shomof, Jenna Mattison]",Jenna Mattison,Michael Micco,NaN,"[Yehuda Levi, Edward Furlong, James Caan, Jeff...",...,2012-06-08,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,For the love of money is the root of all evil.,For the Love of Money,False,5.6,9.0
5376,https://en.wikipedia.org/wiki/The_Purge,2013.0,https://www.imdb.com/title/tt4094724/,The Purge,NaN,NaN,NaN,NaN,NaN,NaN,...,2016-06-29,118587880.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep America great,The Purge: Election Year,False,6.1,1356.0

In [38]:
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

English                       5482
NaN                            156
(English, Spanish)              68
(English, French)               35
(English, Japanese)             25
                              ...
(English, French, Arabic)        1
(English, Georgian)              1
Silent                           1
(English, Urdu, [1])             1
(English, Yiddish, Hebrew)       1
Name: Language, Length: 198, dtype: int64

In [39]:
movies_df['original_language'].value_counts(dropna=False)

en    6008
fr      17
es      10
it       8
de       6
ja       5
zh       4
pt       4
hi       2
da       2
pl       2
he       1
ko       1
sv       1
ar       1
cn       1
ab       1
ru       1
tr       1
Name: original_language, dtype: int64

In [40]:
movies_df[['Production company(s)','production_companies']]

     Production company(s)                               production_companies
0                      NaN  [{'name': 'Twentieth Century Fox Film Corporat...
1                      NaN  [{'name': 'Avenue Pictures Productions', 'id':...
2                      NaN  [{'name': 'IndieProd Company Productions', 'id...
3                      NaN             [{'name': 'Orion Pictures', 'id': 41}]
4                      NaN          [{'name': 'Paramount Pictures', 'id': 4}]
...                    ...                                                ...
6072                   NaN  [{'name': 'Komplizen Film', 'id': 1618}, {'nam...
6073                   NaN  [{'name': 'Ball & Chain Productions', 'id': 74...
6074                   NaN  [{'name': 'ARTE France Cinéma', 'id': 94}, {'n...
6075                   NaN  [{'name': 'Film Science', 'id': 1976}, {'name'...
6076                   NaN  [{'name': 'HanWay Films', 'id': 2395}, {'name'...

[6076 rows x 2 columns]

In [41]:
wiki_file[['running_time']]

      running_time
0            102.0
1            114.0
2            113.0
3            106.0
4             95.0
...            ...
7306          90.0
7307         132.0
7308         120.0
7309         123.0
7310          90.0

[7056 rows x 1 columns]

In [42]:
    # 4. Drop unnecessary columns from the merged DataFrame.
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [43]:
# 5. Add in the function to fill in the missing Kaggle data.
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [45]:
# 6. Call the function in Step 5 with the DataFrame and columns as the arguments.
#fill_missing_kaggle_data(movies_df, 'runtime_kaggle', 'running_time_wiki')
#fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

,url,year,imdb_link,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,Narrated by,...,release_date_kaggle,revenue,runtime,spoken_languages,status,tagline,title_kaggle,video,vote_average,vote_count
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",...,1990-07-11,20423389.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Kojak. Columbo. Dirty Harry. Wimps.,The Adventures of Ford Fairlane,False,6.2,72.0
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,...,1990-08-24,2700000.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All they risked was everything.,"After Dark, My Sweet",False,6.5,17.0
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,...,1990-08-10,33461269.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The few. The proud. The totally insane.,Air America,False,5.3,146.0
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,...,1990-12-25,7331647.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice,False,6.3,57.0
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,...,1990-12-21,6939946.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who does he think he is?,Almost an Angel,False,5.6,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6072,https://en.wikipedia.org/wiki/A_Fantastic_Woman,2018.0,https://www.imdb.com/title/tt5639354/,Sebastián Lelio,"[Juan de Dios Larraín, Pablo Larraín]",NaN,NaN,NaN,"[Daniela Vega, Francisco Reyes]",NaN,...,2017-04-06,3700000.0,104.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,A Fantastic Woman,False,7.2,13.0
6073,https://en.wikipedia.org/wiki/Permission_(film),2018.0,https://www.imdb.com/title/tt5390066/,Brian Crano,"[Brian Crano, Rebecca Hall]",NaN,NaN,NaN,"[Rebecca Hall, Dan Stevens, Morgan Spector, Fr...",NaN,...,2017-04-22,NaN,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Permission,False,0.0,1.0
6074,https://en.wikipedia.org/wiki/Loveless_(film),2018.0,https://www.imdb.com/title/tt6304162/,Andrey Zvyagintsev,"[Alexander Rodnyansky, Sergey Melkumov, Gleb F...","[Oleg Negin, Andrey Zvyagintsev]",NaN,NaN,"[Maryana Spivak, Aleksey Rozin, Matvey Novikov...",NaN,...,2017-06-01,4800000.0,128.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Loveless,False,7.8,26.0
6075,https://en.wikipedia.org/wiki/Gemini_(2017_film),2018.0,https://www.imdb.com/title/tt5795086/,Aaron Katz,"[Mynette Louie, Sara Murphy, Adele Romanski]",NaN,NaN,NaN,"[Lola Kirke, Zoë Kravitz, Greta Lee, Michelle ...",NaN,...,2017-03-12,200340.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Gemini,False,0.0,0.0
6076,https://en.wikipedia.org/wiki/How_to_Talk_to_G...,2018.0,https://www.imdb.com/title/tt3859310/,John Cameron Mitchell,"[Iain Canning, Howard Gertler, John Cameron Mi...","[Philippa Goslett, John Cameron Mitchell]",NaN,"["", How to Talk to Girls at Parties, "", by, Ne...","[Elle Fanning, Alex Sharp, Nicole Kidman, Ruth...",NaN,...,2017-12-27,382053.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some girls are out of this world.,How to Talk to Girls at Parties,False,0.0,10.0

In [47]:
# 7. Filter the movies DataFrame for specific columns.
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

Also known as
Opening theme
Biographical data
Born
Died
Resting place
Occupation
Years active
Spouse(s)
Children
Parent(s)
Genres
Instruments
Labels
Website
Type
Industry
Fate
Founded
Founder
Headquarters
Parent
Released
Recorded
Venue
Length
Label
Director
Producer
Area
Coordinates
Status
Opening date
Closing date
Replaced
Replaced by
Name
Attraction type
Music
Duration
Simplified Chinese
Traditional Chinese
Hanyu Pinyin
Literal meaning
Transcriptions
Bopomofo
Gwoyeu Romatzyh
Wade–Giles
IPA
Yale Romanization
Jyutping
Hokkien POJ
Engine(s)
Genre(s)
Actor control
Production company
Release(s)
Format(s)
Published
Dewey Decimal
Text
Illustrator
Published in English
Developed by
Ending theme
No. of seasons
Nationality
Portrayed by
Alias
Species
Gender
Family
Alma mater
Camera setup
Novel(s)
Comics
Developer(s)
Publisher(s)
Designer(s)
Programmer(s)
Artist(s)
Writer(s)
Engine
Platform(s)
Release
Mode(s)
Full name
Height
Seasons
Other names
Relatives
Yiddish
Formerly
Key people
Total assets
Owner
Number of employees
Divisions
Subsidiaries
Arabic
Predecessor
Founders
Area served
Products
Services
Hebrew
Revenue
Operating income
Polish
video

In [48]:
movies_df['video'].value_counts(dropna=False)

False    6076
Name: video, dtype: int64

In [49]:
movies_df = movies_df.loc[:, ['imdb_id','kaggle_id','title_kaggle','original_title','belongs_to_collection','wikipedia_url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['kaggle_id', 'wikipedia_url', 'budget_kaggle'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [50]:
    # 8. Rename the columns in the movies DataFrame.
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# 9. Transform and merge the ratings DataFrame.
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
# 10. Create the path to your file directory and variables for the three files.
file_dir = '../Resources'
# The Wikipedia data
wiki_file = f'{file_dir}/wikipedia.movies.json'
# The Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
# The MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'

In [ ]:
# 11. Set the three variables equal to the function created in D1.
#db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
# 12. Set the DataFrames from the return statement equal to the file names in Step 11. 
wiki_movies_df = wiki_file
movies_with_ratings_df = kaggle_file
movies_df = ratings_file

In [ ]:
# 13. Check the wiki_movies_df DataFrame. 
movies_with_ratings_df

In [ ]:
# 14. Check the movies_with_ratings_df DataFrame.
movies_with_ratings_df.head()

In [ ]:
# 15. Check the movies_df DataFrame. 
movies_df.head()